{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}

{%  include 'accounts/status.html' %}

<br>

<div class="row">
	<div class="col-md-3">
        <div class="card-body">       
            <div class="row">
                <div class="card card-body">
                    <h5>FOURNISSEURS</h5>
                    <hr>
                    <table class="table table-sm">
                        <tr>
                            <th>Nom</th>
                            <th>Référence</th>
                            <th></th>
        
                        </tr>
                        
                        {% for fournisseur in fournisseurs %}
                        <tr>
                            <td>{{fournisseur.nom}}</td>
                            <td>{{fournisseur.reference}}</td>
                            <td><a href="{% url 'fournisseur' fournisseur.id %}"><button class="btn btn-sm btn-info">Consulter</button></a></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="card card-body">
                    <h5>PROJETS</h5>
                    <hr>
                    <!--<a class="btn btn-outline-dark  btn-sm btn-block" href="">Ajouter Projet</a>-->
                    <table class="table table-sm">
                        <tr>
                            <th>Projet</th>
                            <th>Responsable</th>
                            <th></th>
                        </tr>

                        {% for projet in projets %}
                            <tr>
                                <td>{{projet.designation}}</td>
                                <td>{{projet.responsable}}</td>
                                <td><a href="{% url 'projet' projet.id %}"><button class="btn btn-sm btn-info">Consulter</button></a></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
            </div>
            <br>
        </div>
    </div>

	<div class="col-md-9">
		<div class="card card-body">
            <h5>LES 5 DERNIERES DEMANDES</h5>
            <hr>
			<a class="btn btn-outline-dark  btn-sm btn-block" href="{% url 'creer_demande' %}">Ajouter Demande</a>
            <br>
            <table class="table table-sm">
				<tr>
					<th>Projet</th>
					<th>Quantité</th>
					<th>Designation</th>
					<th>Fabricant</th>
                    <th>Référence</th>
                    <th>Fournisseur</th>
                    <th>Référence</th>
                    <th>Commentaire</th>
                    <th>Statut</th>

                </tr>
                
                {% for demande in demandes %}
                <tr>
                    <td>{{demande.projet}}</td>
                    <td>{{demande.quantite_piece}}</td>
                    <td>{{demande.piece}}</td>
                    <td>{{demande.fabricant}}</td>
                    <td>{{demande.reference_fabricant}}</td>
                    <td>{{demande.fournisseur}}</td>
                    <td>{{demande.reference_fournisseur}}</td>
                    <td>{{demande.commentaire}}</td>
                    <td>{{demande.statut}}</td>
                    <td><a href="{% url 'modifier_demande' demande.id %}"><button class="btn btn-sm btn-success">Modifier</button></a></td>
                    <td><a href="{% url 'supprimer_demande' demande.id %}"><button class="btn btn-sm btn-danger">Supprimer</button></a></td>

                </tr>
            {% endfor %}        
			</table>
		</div>
	</div>

</div>

{% endblock %}
